################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin
*.config
.suo
/JingWuTong/Handle/upload/2018-12-30_2018-12-31台州交警局对讲机报表.xls
*.dll
/TOOL/obj/Debug
/DbComponet/obj/Debug
/JingWuTong/Handle/upload
/Model/obj/Debug/Model.csprojResolveAssemblyReference.cache
/.vscode
/DbComponet/bin/Debug
/JingWuTong
/Model/obj/Release
/TOOL/obj/Release/TOOL.csprojResolveAssemblyReference.cache
